<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-row>
      <ion-title>Estadísticas</ion-title>
      <button ion-button style="padding-right: 5px;" (click)="viewHistoryTrainings()">
        Historial
      </button>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header text-center>
      Tiempo estándar vs Tiempo que usaste
      <p>(Tiempo en segundos)</p>
      <p class="fixline" (click)="viewStatisticsDetail()">Instrucciones</p>
      <ion-list text-wrap>
        <ion-item text-wrap>
          <ion-label>Rutinas</ion-label>
          <ion-select name="test" (ionChange)="onChangeTraining($event)" text-wrap>
            <ion-option *ngFor="let training of routineTrainings" [value]="training" text-wrap>{{training.routineName}} {{training.timeStart}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header text-center>
      Evolución de entrenamiento
      <p>(Tiempo en segundos)</p>
      <p class="fixline" (click)="viewStatisticsDetail()">Instrucciones</p>
      <ion-list text-wrap>
        <ion-item text-wrap>
          <ion-label>Rutinas</ion-label>
          <ion-select name="test" interface="popover" (ionChange)="onChangeRoutine($event)" text-wrap>
            <ion-option text-wrap *ngFor="let routine of routines" [value]="routine">{{routine.routineName}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineCanvas></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>