<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Spots</ion-title>
    <ion-buttons end>
      <button ion-button (click)="allUbicationsMap()">
        <ion-icon md="md-pin"></ion-icon>
      </button>
      <button ion-button (click)="createSpot()">
        <ion-icon name="md-add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let spot of spots; let i=index">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="spot.avatarImageUrl" (click)="avatarTapped(spot)">
      </ion-avatar>
      <h2>{{spot.name}}</h2>
      <p>{{spot.date}}</p>
    </ion-item>
    <img [src]="spot.postImageUrl" (click)="imageTapped(spot)">
    <ion-card-content>
      <p>{{spot.postText}}</p>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-left clear class='text-sm' (click)="presentPopover(spot)">
          <ion-icon name="star"></ion-icon>
          Calificar
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear class='text-sm' (click)="comment(spot)" *ngIf="spot.commentsCount == 1; else elsetag">
          <ion-icon name="text"></ion-icon>
          {{ spot.commentsCount }} Comentario
        </button>
        <ng-template #elsetag>
          <button ion-button icon-left clear class='text-sm' (click)="comment(spot)">
            <ion-icon name="text"></ion-icon>
            {{ spot.commentsCount || 0 }} Comentarios
          </button>
        </ng-template>
      </ion-col>
      <ion-col>
        <button ion-button icon-left clear class='text-sm'>
          {{spot.timestamp}}
        </button>
      </ion-col>
    </ion-row>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>