<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{routineName}} ({{routineCategory}})
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding auto-hide>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <p>
    {{descriptionRoutine}}. A continuación listaremos los músculos a fortalecer durante el desarrollo de la rutina:
  </p>
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/main-muscle.svg">
      </ion-avatar>
      <h2>Principales</h2>
      <ul>
        <li *ngFor="let mainMuscle of mainMuscles">{{mainMuscle}}</li>
      </ul>
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/secondary-muscle.svg">
      </ion-avatar>
      <h2>Secundarios</h2>
      <ul>
        <li *ngFor="let secondMuscle of secondMuscles">{{secondMuscle}}</li>
      </ul>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item-group>
      <ion-item-divider style="border-radius: 5px;">
        <h2> La rutina está compuesta por {{exercises.length}} ejercicios</h2>
      </ion-item-divider>
      <ion-item *ngFor="let item of exercises;" (click)="viewExerciseDetail(item)">
        <ion-thumbnail item-start>
          <img [src]="item.exerciseImage">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p>Repeticiones: {{item.repetitions}}</p>
        <p>Series: X{{item.series}}</p>
      </ion-item>
    </ion-item-group>
  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="scrollToBottom()">
      <ion-icon name="arrow-round-down"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" (click)="startSlide();">
    <ion-title text-center>Comenzar</ion-title>
  </ion-toolbar>
</ion-footer>
