<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{routineName}} ({{routineCategory}})
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <ion-content padding [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScroll)="logScrolling($event)" (ionScrollEnd)="logScrollEnd()"> -->
<ion-content padding auto-hide>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- <ion-card class="title-routine"> -->
  <!-- <ion-card> -->
  <!-- <ion-card-content class="fixline" text-wrap> -->
  <!-- {{descriptionRoutine}} -->
  <p>
    {{descriptionRoutine}} a continuación listaremos los músculos a fortalecer durante el desarrollo de la rutina.
  </p>
  <!-- </ion-card-content> -->
  <ion-list>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/main-muscle.svg">
      </ion-avatar>
      <h2>Principales</h2>
      <!-- <p *ngFor="let mainMuscle of mainMuscles">{{mainMuscle}}</p> -->
      <ul>
        <li *ngFor="let mainMuscle of mainMuscles">{{mainMuscle}}</li>
      </ul>
      <!-- <p>Abdomen</p>
      <p>Oblicuo</p>
      <p>Cuadrice</p> -->
    </ion-item>
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/icon/secondary-muscle.svg">
      </ion-avatar>
      <h2>Secundarios</h2>
      <!-- <p *ngFor="let secondMuscle of secondMuscles">{{secondMuscle}}</p> -->
      <ul>
        <li *ngFor="let secondMuscle of secondMuscles">{{secondMuscle}}</li>
      </ul>
      <!-- <p>Pantorilla</p>
      <p>Aductores</p>
      <p>Lumbares</p> -->
    </ion-item>

    <!-- <ion-card-content>Nota: ir al final de la pagina para comenzar con el entrenamiento.</ion-card-content> -->

  </ion-list>

  <!-- </ion-card> -->
  <!-- <br> -->
  <ion-list>
    <ion-item-group>
      <ion-item-divider style="border-radius: 5px;">
        <h2> Rutina compuesta por {{exercises.length}} ejercicios</h2>
      </ion-item-divider>
      <ion-item *ngFor="let item of exercises;" (click)="viewExerciseDetail(item)">
        <ion-thumbnail item-start>
          <img [src]="item.exerciseImage">
        </ion-thumbnail>
        <h2>{{item.title}}</h2>
        <p>Repericiones: {{item.repetitions}}</p>
        <p>Series: X{{item.series}}</p>
        <!-- <p text-wrap>{{item.description}}</p> -->
      </ion-item>
    </ion-item-group>
    <!-- <ion-item text-center>
      <button ion-button round padding (click)="startSlide();">Comenzar</button>
    </ion-item> -->
  </ion-list>

  <ion-fab bottom right #fab>
    <button ion-fab (click)="scrollToBottom()">
      <ion-icon name="arrow-round-down"></ion-icon>
    </button>
  </ion-fab>

  <!-- <br> -->
</ion-content>
<ion-footer>
  <ion-toolbar color="primary" (click)="startSlide();">
    <ion-title text-center>Comenzar</ion-title>
  </ion-toolbar>
</ion-footer>